.nav_menu a, .footer_menu a {
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.nav_menu ul, .footer_menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

body {
  width: 1440px;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin-right: 50px;
  margin-left: 50px;
  min-height: calc(100vh - 120px);
  background-color: #FFFFFF;
}

.site_header {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.nav_logo {
  width: 20%;
  padding-left: 50px;
}

.nav_menu {
  width: 30%;
  padding-right: 50px;
}
.footer_content {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
}

.footer_menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */

/*CSS AJOUTER DIRECTMENT DANS PASSER PAR DIFFUSION SASS NI SES COMPILATION*/
.hero_header{
  width:100%;
  height:66%;
  /*background-image: url('../images/hero_image.jpg');
  background-size: cover;
  background-position: center;*/
  display:flex;
  justify-content:center;
  align-items:center;
  color: white;
  text-align: center;
  position: relative;

  img{
    width:100%;
    height:100%;
    object-fit: cover;
  }

  h1{
      font-size: 96px;
      font-weight: 700;
      font-family: 'SpaceMono-Italic', monospace;
      text-transform: uppercase;
      width: 1000px;
      color: transparent;
      -webkit-text-stroke: 3px white;
      position: absolute;
  }
}


.photo_container{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  margin-top:50px;

  .photo_showcase{
      img{
        width:563px;
        height:844px;
      }
      object-fit: cover;
  }
  .photo_informations{
      text-align:left;
      color:#000000;
      width: 565px;
      padding-bottom: 30px;
      border-bottom : solid 1px #000000;

      h2{
          width: 420px;
          font-size:66px;
          font-weight:400;
          font-family: 'SpaceMono-Italic', monospace;
          text-transform: uppercase;
          font-style: italic;
          margin-bottom:10px;
      }
      p{
          font-size:14px;
          font-weight:400;
          font-family: 'SpaceMono-Regular', monospace;
      }
  }
}
.single_photo_section{
  width:90%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.more{
  width:90%;
  height:118px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-bottom: solid 1px #000000;

  .cta_button{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 20px;
      p{
          font-size:14px;
          font-weight:300;
          font-family: 'Poppins-Light', sans-serif;
          color:#000000;
      }
      .contact_cta{
          text-decoration:none;
          font-size:12px;
          font-weight:400;
          font-family: 'SpaceMono-Regular', monospace;
          color:#000000;
          background-color: #D8D8D8;
          width: 272px;
          height: 50px;
          display:flex;
          justify-content:center;
          align-items:center;
          border-radius: 2px;
      }
  }
  .preview_next{
    width: 50%;
    display:flex;
    justify-content:center;
    align-items: flex-end;
    flex-direction: column;
    padding-right:10px;

      .preview_image{
        width:81px;
        height:71px;
        object-fit: cover;
        padding-right:10px;
      }
      .arrows_navigation{
        width:71px;
        display:flex;
        justify-content:center;
        align-items:center;
        margin:10px;
        gap:30px;
        padding:0;
        padding-right:5px;
      }
      .preview_arrow, .next_arrow{
        size: 25px;
        object-fit: contain;
      }
  }
}