@use 'variables';

%lien-menu{
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    color: variables.$texte-noir;
}

%ul-reset{
    list-style:none;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
}