$background-clair: #FFFFFF;
$background-gris: #D8D8D8;

$background-rouge: #E00000;
$background-corail: #FE5858;
$background-rose: #FFD6D6;

$texte-noir: #000000;
$texte-gris-fonce: #313144;
$texte-gris: #C4C4C4;
$texte-gris-medium: #D8D8D8;
$texte-gris-clair: #E5E5E5;
$texte-blanc: #FFFFFF;