@use 'variables';
@use 'mixins';
@use 'placeholders';

// Utilisation :
//.bouton-primaire {
    // Les variables sont préfixées par 'variables'
//    background-color: variables.$couleur-primaire; 
    
    // Les mixins sont préfixés par 'mixins'
//    @include mixins.shadow-depth(2); 
//  }

.nav_menu a{
    background-color: variables.$background-clair;
    font-family: 'Poppins', sans-serif;    
    color: palevioletred;
};