@use 'variables';
@use 'mixins';
@use 'placeholders';

// Utilisation :
//.bouton-primaire {
    // Les variables sont préfixées par 'variables'
//    background-color: variables.$couleur-primaire; 
    
    // Les mixins sont préfixés par 'mixins'
//    @include mixins.shadow-depth(2); 
//  }
body{
    width: 1440px;
    margin: 0;
    padding: 0; 
}
.site_main{
    width:100%;
    margin-right:30px;
    margin-left:30px;
    min-height: calc(100vh - 120px); // Ajuste la hauteur minimale pour tenir compte de l'en-tête et du pied de page
    background-color: variables.$background-clair;
}

.nav_menu a, .footer_menu a {
    @extend %lien-menu;
};

.site_header{
    width:100%;
    max-width: 1440px;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}   
.nav_logo{
    width:20%;
    padding-left:50px;
}
.nav_menu{
  width:30%;
  padding-right:50px;
    ul{
        @extend %ul-reset;
    }
}
.footer_content{
    width:100%;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
}
.footer_menu{
    width:50%;
    display:flex;
    justify-content:space-between;
    align-items: center;

    ul{
        @extend %ul-reset;
    }
}