@use 'variables';
@use 'mixins';
@use 'placeholders';

// Utilisation :
//.bouton-primaire {
    // Les variables sont préfixées par 'variables'
//    background-color: variables.$couleur-primaire; 
    
    // Les mixins sont préfixés par 'mixins'
//    @include mixins.shadow-depth(2); 
//  }
body{
    margin: auto;
    padding: 0; 
    width:100%;
}
main{
    width:100%;
    margin: auto;
    min-height: calc(100vh - 120px); // Ajuste la hauteur minimale pour tenir compte de l'en-tête et du pied de page
    background-color: variables.$background-clair;
}

.nav_menu a, .footer_menu a {
    @extend %lien-menu;
};

.site_header{
    width:100%;
    max-width: 1440px;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}   
.nav_logo{
    width:20%;
    padding-left:50px;
}
.nav_menu{
  width:30%;
  padding-right:50px;
    ul{
        @extend %ul-reset;
    }
}
.footer_content{
    width:100%;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
}
.footer_menu{
    width:50%;
    display:flex;
    justify-content:space-between;
    align-items: center;

    ul{
        @extend %ul-reset;
    }
}

.hero_header{
    width:100%;
    height:66%;
    /*background-image: url('../images/hero_image.jpg');
    background-size: cover;
    background-position: center;*/
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    text-align: center;
    position: relative;

    img{
        width:100%;
        height:100%;
        object-fit: cover;
    }

    h1{
        font-size: 96px;
        font-weight: 700;
        font-family: 'SpaceMono-Italic', monospace;
        text-transform: uppercase;
        width:1000px;
        color: transparent;
        -webkit-text-stroke: 3px white;
        position: absolute;
    }
}

.photo_container{
    width:90%;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-top:50px;

    .photo_showcase{
        width:45%;
        img{
            width:563px;
            height:844px;
        }
        object-fit: cover;
    }
    .photo_informations{
        text-align:left;
        color:#000000;
        width: 565px;
        padding-bottom: 30px;
        border-bottom : solid 1px #000000;

        h2{
            width:420px;
            font-size:66px;
            font-weight:400;
            font-family: 'SpaceMono-Italic', monospace;
            text-transform: uppercase;
            font-style: italic;
            margin-bottom:10px;
        }
        p{
            font-size:14px;
            font-weight:400;
            font-family: 'SpaceMono-Regular', monospace;
        }
    }
}